
.apply{
  margin-top: auto;
    
    padding-top: 10px; 
padding-bottom: 8px; 
  background-color: #74EBD5;
background-image: linear-gradient(30deg, #74EBD5 0%, #9FACE6 100%);
border-radius: 8px;
  


}
body{
  background-color:#ebf0f0;
}

.btn{
  background-color: #F4D03F;
background-image: linear-gradient(31deg, #F4D03F 0%, #16A085 100%);
text-align: center;  
 
position: absolute;
left: 50%; 
padding-top: 5px; 
padding-bottom: 5px; 
font-size: 15px;
}
h1{
  text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 20px;
}

td{
    border: 1px solid;
    word-wrap: break-word;
    max-width: 1px;
    align-items: center;    
}

table {
    width: 100%;
    border-collapse: collapse;
 }
 .req{
    color: #FF0000;
    font-size: 10pt;
    
    width: 200px;
   display: inline-block;
   text-align: right;
   margin-bottom: 10px;
 }

h3{
    text-align: center;
    padding-bottom: 0px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

h1 { 
  font-family: "Mate SC"; 
  font-size: 35px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px; 
} 

h3 { 
  font-family: "Mate SC"; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 15.4px; 
}

p { 
  font-family: "Mate SC"; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 20px; 
}


  
  